.custom-navbar {
    background: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 30px;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #000;
}

.navbar-nav .nav-item:first-child {
    display: flex;
    align-items: center;
    padding-right: 10px; /* Ajusta el espaciado si es necesario */
}

.navbar-nav .nav-item:first-child svg {
    width: 20px; /* Ajusta el tamaño si es necesario */
    height: 20px;
}


.navbar-buttons {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.open-positions {
    font-weight: 600;
    color: black;
    border: 2px solid black;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s;
}

.open-positions:hover {
    background: black;
    color: white;
}

@media (max-width: 992px) {
    .navbar-buttons {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 10px;
    }

    .open-positions,
    .btn-dark {
        width: 100%;
        text-align: center;
    }
}